#heading{
    text-align: center;
    color: red;
    background-color: rgb(0, 255, 0);


}
.dheading{
    color: antiquewhite;
    text-align: justify;
    background-color: aquamarine;
}
.p{
       
}

