h1{
    color: blue;
    text-align: center;
}
p
{
    font-size: 18px;
    color: green;
    text-align: center;
}
div{
    width: 200px;
    height: 120px;
    background-color: lightyellow;
    border: 2px solid black;
    margin: 20px auto;
    padding: 15px;
}
.divb {
    text-align: center;
}